/* Footer */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0;
  line-height: 1em;
  padding: 1.5em;
  background: #39454b;
  color: rgba(185, 186, 187, 0.5);
  overflow: hidden;
}

#footer>* {
  margin-bottom: 0;
}

#footer a {
  color: inherit;
}

#footer a:hover {
  color: #b9babb;
}

#footer ul.menu {
  margin: 0;
}

#footer ul.menu li {
  border-left-color: rgba(185, 186, 187, 0.2);
  font-size: 0.9em;
}