/* Form */
form {
  margin: 0 0 2em 0;
}

form> :last-child {
  margin-bottom: 0;
}

form>.fields {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}

form>.fields>.field {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

form>.fields>.field.half {
  width: calc(50% - 0.75em);
}

form>.fields>.field.third {
  width: calc(100%/3 - 0.5em);
}

form>.fields>.field.quarter {
  width: calc(25% - 0.375em);
}

input[type="text"],
input[type="email"],
textarea {
  appearance: none;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #39454b;
  display: block;
  width: 100%;
  padding: 0.65em 0.75em;
  background: none;
  border: solid 2px #e5e6e7;
  color: inherit;
  border-radius: 0.5em;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #9ac8e9;
}

input[type="text"],
input[type="email"] {
  line-height: 1.35em;
}

textarea {
  min-height: 8em;
}